.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .3em;
    transition: $base-transistion;
    padding: .5em;

    &--success {
        background-color: $bg-success;
        color: white;        

        &:hover { background-color: $bg-success-light; }
    }

    &--error {
        background-color: $bg-error;
        color: white;        

        &:hover { background-color: $bg-error-light; }
    }

    &--large { font-size: $text-large; }
    &--medium {  font-size: $text-medium; }
    &--small {  font-size: $text-small; }

    &[disabled] {
        opacity: .5;
    }

}
