.form-item {
    padding: 0 1em;

    & input {
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid transparent;
        font-size: 1.5em;
        box-sizing: border-box;
        margin: .3em 0;
        padding: .4em .5em;

        &:disabled {
            border-color: rgb(181, 181, 181);
        }
    }

    & input[type=datetime-local] {
        border: 0.23em solid white;
    }

}