body {
    background-color: $main-background;
    font-family: $main-font-family;

    padding: 0;
    margin: 0;
}

a {
    color: $link-color;
    transition: $base-transistion;
    font-size: 1em;
}
a:hover { color: $link-color-hover; }