$main-background: whitesmoke;

$main-font-family: 'Segoe UI', 'Roboto', 'Oxygen', Arial, sans-serif;

$layout-width-max: 1280px;

// Colors
$title-color: #008FCC;
$link-color: #4b5563;
$link-color-hover: #111827;

$color-main: #008FCC;
$color-second: #F77B55;

$error-color: #dc2626;

// Background colors
$bg-success-light: #8edf0b;
$bg-success: #82C90D;

$base-transistion: all .3s ease 0s;

$text-small: 14px;
$text-medium: 18px;
$text-large: 21px;