$main-background: whitesmoke;

$main-font-family: 'Segoe UI', 'Roboto', 'Oxygen', Arial, sans-serif;

$layout-width-max: 1280px;

$link-color: #008FCC;
$link-color-hover: #00a9f1;

$base-transistion: all .3s ease 0s;