.center-layout {
    display: grid;
    min-height: 100vh;    

    &__nav-login {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &__main {
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}